[submodule "Middlewares/ST/stm32_mw_usb_device"]
	path = Middlewares/ST/stm32_mw_usb_device
	url = git@github.com:STMicroelectronics/stm32_mw_usb_device.git

[submodule "Middlewares/owlware"]
	path = Middlewares/owlware
	url = git@github.com:RobomasterOwltech/owlware.git

[submodule "robotConfig"]
	path = robotConfig
	url = git@github.com:RobomasterOwltech/robotConfig.git
	branch = STM32VLDISCOVERY
