[submodule "Middlewares/ST/stm32_mw_usb_device"]
	path = Middlewares/ST/stm32_mw_usb_device
	url = https://github.com/STMicroelectronics/stm32_mw_usb_device.git

[submodule "Middlewares/owlware"]
	path = Middlewares/owlware
	url = https://github.com/RobomasterOwltech/owlware.git

[submodule "robotConfig"]
	path = robotConfig
	url = https://github.com/RobomasterOwltech/robotConfig.git
    branch = devTypeC

